<!doctype html>
<html lang="en" ng-app="realEstateApp">
<head>
  <meta charset="UTF-8">
  <title>Real Estate Property Management</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag("application") %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">

  <%= render "shared/navigation" %>



  <%= yield %>

</div>

</body>

</html>